
<footer>
  <div style="text-align: center; padding: 10px; font-size: 14px;">
    &copy; {{ website_name }} 2021 - {% now "Y" %} All rights reserved. <br>
    Created by <strong>LittleZabi</strong> and <strong>Blueterminal Lab</strong> | <a href="https://blognixt.com" target="_blank">blognixt.com</a><br><br>

    <a href="/contact/" style="margin-right: 10px;">Contact</a> |
    <a href="/Disclaimer/" style="margin: 0 10px;">Disclaimer</a> |
    <a href="/Privacy/" style="margin-left: 10px;">Privacy & Policy</a>
  </div>
</footer>