<div class='mid-view'>
  <div class='page-size colors-bg-rain'>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class='colors-bg-layer'></div>
  <div class='page-size mid-inner'>
    <div class='mid-text'>
      <h1 class="from-right-init">Welcome to</h1>
      <h1 class='txt-cap color-sec from-right-init'>
        {{website_name}}
        {% comment %} <img src="/media/assets/logo.png" alt="{{ website_name  }}"/> {% endcomment %}
      </h1>
      <p class="from-right-init">
     Experience the convenience of shopping at your fingertips with our online store. Browse and purchase a diverse selection of high-quality products, all in one place. From the latest tech gadgets to everyday essentials, we've got you covered. Enjoy fast and reliable shipping, easy returns, and excellent customer service. Start shopping now!</p>
      <div class='mid-icons from-right-init'>
        <a href='https://web.facebook.com/IBkhan705' target={"_blank"}>
          <i class="fab fa-facebook"></i>
        </a>
        <a href='facebook.com' target={"_blank"} rel="noreferer">
          <i class="fab fa-instagram"></i>
        </a>
        <a href='facebook.com' target={"_blank"}>
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
  <div class='page-size pos-rel'>
    <div class='mid-right fade-in'>
        <img class='image-a' src='/media/assets/home-bg.png' alt='home image' />
    </div>
  </div>
{% include 'components/search-component.html' %}
</div>