<div
  class="page-size search-secition"
  id="search-container"
>
  <div class="search-view df ac">
    <input
      type="search"
      placeholder="Find faster then explore search your term and keywords here."
      onkeyup="SearchItems(this)"
    />
    <i class="fa fa-search"></i>
  </div>
  <div class="search-result">
    <div class="df orange-kiss">
      <span>Search founds <span class="search-count-322">0</span> results</span>
      <span class="cross" onclick="closeSearchModal()">&times;</span>
    </div>
    <div class="results-332">
      <div class="blogs-view search-list-33839s" style="display: block">
          <div class="search-loading l60 h20"></div>
          <div class="search-loading l20 h30"></div>
          <div class="search-loading l60 h20"></div>
          <div class="search-loading l40 h20"></div>
      </div>
    </div>
  </div>
</div>
