<div class="blog-right" id="side-bar-data">
    <div class="blog-right-in">
      <h3><div class="search-loading l60 h20"></div></h3>
      <section>
        <div class="search-loading l30 h30"></div>
        <div class="search-loading l60 h20"></div>
        <div class="search-loading l80 h20"></div>
      </section>
    </div>
    <div class="blog-right-in">
      <h3><div class="search-loading l60 h20"></div></h3>
      <section>
        <div class="search-loading l30 h30"></div>
        <div class="search-loading l60 h20"></div>
        <div class="search-loading l80 h20"></div>
      </section>
    </div>
    <div class="blog-right-in">
      <h3><div class="search-loading l60 h20"></div></h3>
      <section>
        <div class="search-loading l30 h30"></div>
        <div class="search-loading l60 h20"></div>
        <div class="search-loading l80 h20"></div>
      </section>
    </div>
    <div class="blog-right-in">
      <h3><div class="search-loading l60 h20"></div></h3>
      <section>
        <div class="search-loading l30 h30"></div>
        <div class="search-loading l60 h20"></div>
        <div class="search-loading l80 h20"></div>
      </section>
    </div>
  </div>